@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
  --primary: rgb(25, 21, 29);
  --prHighlight: rgb(48, 39, 56);
  --secondary: rgb(224, 211, 211);
  --alt-color: rgb(90, 76, 105);
  --font: orbitron;
}

* {
  -webkit-tap-highlight-color: transparent;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

body {
  color: var(--secondary);
  background-color: var(--primary);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formTable {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  background-color: var(--prHighlight);
  border-radius: 5px;
  padding: 7px;
  width: 35vw;
  box-shadow: 5px 5px 5px black;
}

.titles {
  font-size: 18px;
  font-family: var(--font);
  font-weight: bolder;
}

.elementInput {
  display: flex;
  justify-content: space-around;
  height:20px;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
  outline: none;
  margin-top: 7px;
}
.elementInput:focus {
  background-color: var(--alt-color);
  color: white;
}
#new {
  margin-top: 5px;
  width: 80px;
  height: 30px;
  font-size: 18px;
  font-family: var(--font);
  font-weight: bolder;
  border-radius: 5px;
  background-color: var(--prHighlight);
  color: var(--secondary);
  box-shadow: 5px 5px 5px black;
  transition: ease-in 0.1s transform;
}
#new:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.information {
  display: grid;
  align-items: center;
  width: 30vw;
  height: 200px;
  background-color: var(--prHighlight);
  font-family: var(--font);
  font-weight: bolder;
  background-color: var(--prHighlight);
  box-shadow: 5px 5px 5px black;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 5px;
}

.pTopContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 25vw;
  background-color: var(--prHighlight);
  border-radius: 5px;
  padding: 7px;
  box-shadow: 5px 5px 5px black;
}

.targetss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
  background-color: var(--prHighlight);
  border-radius: 5px;
  padding: 7px;
  box-shadow: 5px 5px 5px black;
  margin-bottom: 7px;
}
